.title { text-align: center; font-size: 2.2em; }
.subtitle { text-align: center; font-size: 2em; }
h1 { font-size: 2.0em; color: var(--main-font-color); }
h2 { font-size: 1.8em; color: var(--main-font-color); }
h3 { font-size: 1.6em; color: var(--main-font-color); }
h4 { font-size: 1.4em; color: var(--main-font-color); }
h5 { font-size: 1.2em; color: var(--main-font-color); }
h6 { font-size: 1.0em; color: var(--main-font-color); }

p { text-align: center; }
p:not(:has(>img:first-child)) {
  text-indent: 2em;
  text-align: justify;
}

ol, ul { padding-left: 0; }
ol>li, ul>li {
  position: relative;
  padding-left: var(--li-padding-left); 
}
ol>li::before, ul>li::before {
  position: absolute;
  left: 0;
  top: 0;
}
ol { counter-reset: counter; }
ol>li { counter-increment: counter; }
ol>li::before { content: counter(counter) "."; }
ul>li::before { content: var(--ul-li-before-content); }

img, svg, code.language-Mermaid {
  display: block;
  margin: 0 auto;
}
p>img+br, p>svg+br { display: none; }
svg p {
  text-indent: 0 !important;
  text-align: center !important;
}
svg p, svg text, svg tspan {
  font-family: var(--main-font-family);
}

table {
  margin: 0 auto;
  display: revert;
  width: auto;
  word-break: auto-phrase;
  vertical-align: middle;
  border: var(--table-border-width-bold) var(--table-border-style) var(--table-border-color);
  th, td {
    padding: 0em;
    border: var(--table-border-width-thin) var(--table-border-style) var(--table-border-color);
  }
  th { 
    border-top: var(--table-border-width-bold) var(--table-border-style) var(--table-border-color);
    border-bottom: var(--table-border-width-bold) var(--table-border-style) var(--table-border-color);
  }
  th:first-child, td:first-child { 
    border-left: var(--table-border-width-bold) var(--table-border-style) var(--table-border-color);
    border-right: var(--table-border-width-bold) var(--table-border-style) var(--table-border-color);
  }
}
th, td:first-child {
  background-color:var(--block-background-color);
  text-align: center;
  font-weight: bold;
}
td:not(:first-child) {
  text-align: justify;
}


a { text-decoration: none; }
a:hover { text-decoration: underline; }
strong { font-weight: bold; color: var(--main-font-color); }

blockquote {
  display: block;
  color: var(--main-font-color);
  font-size: var(--main-font-size);
  padding: 0em;
  padding-left: 1em;
  margin: 0em;
  margin-block: 0.5em;
  margin-inline: 0.5em;
  border-left-color: var(--block-border-color);
  border-left-style: var(--block-border-style);
  border-left-width: 0.5em;
  border-radius: var(--block-border-radius);
  background-color: var(--block-background-color);
}

pre:has(> code:first-child):not(:has(svg)) {
  white-space: pre-wrap;
  background-color: var(--block-background-color);
  border: 0.1em var(--block-border-style) var(--block-border-color);
  border-radius: var(--block-border-radius);
  padding: 0.5em;
  code {
    overflow: auto;
    font-size: var(--code-font-size);
    tab-size: var(--code-tab-size);
    display: inline-block;
  }
}
code {
  background: none;
  font-family: var(--code-font-family);
}