html {
  --main-font-family: 'Times New Roman', 'Arial', '標楷體', 'BiauKai';
  --main-font-size: 12pt;
  --block-border-style: solid;
  --block-border-radius: 0.25em;
  --block-border-color: #88888888;
  --block-background-color: #88888888;
  .light, .vscode-light { --main-font-color: #000; }
  .dark, .vscode-dark { --main-font-color: #fff; }
}
html>body[for=html-export]:not([data-presentation-mode]):not([html-show-sidebar-toc])>div.markdown-preview {
  padding: 0em;
  width: auto;
  height: auto;
  position: static;
  transform: none;
}
html>body:not(:has(>div.markdown-preview)), html>body>div.markdown-preview, html>body:not(:has(>div.markdown-preview)), html>body>div.markdown-preview {
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  color: var(--main-font-color);
  margin: 0em 1em;
}

html body h1.title { text-align: center; font-size: 2.2em; }
html body h1.subtitle { text-align: center; font-size: 2em; }
html body h1 { font-size: 2.0em; color: var(--main-font-color); }
html body h2 { font-size: 1.8em; color: var(--main-font-color); }
html body h3 { font-size: 1.6em; color: var(--main-font-color); }
html body h4 { font-size: 1.4em; color: var(--main-font-color); }
html body h5 { font-size: 1.2em; color: var(--main-font-color); }
html body h6 { font-size: 1.0em; color: var(--main-font-color); }

p { text-align: center; }
p:not(:has(>img:first-child)) {
  text-indent: 2em;
  text-align: justify;
}

img, svg, code.language-Mermaid {
  display: block;
  margin: 0 auto;
}
p>img+br, p>svg+br { display: none; }
svg p {
  text-indent: 0 !important;
  text-align: center !important;
}
svg p, svg text, svg tspan {
  font-family: var(--main-font-family);
}

table { margin: 0 auto; }
th, td { vertical-align: middle; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }
strong { font-weight: bold; color: var(--main-font-color); }

body blockquote, div.markdown-preview blockquote, body div.markdown-preview blockquote {
  display: block;
  color: var(--main-font-color);
  font-size: var(--main-font-size);
  padding: 0em;
  padding-left: 1em;
  margin: 0em;
  margin-block: 0.5em;
  margin-inline: 0.5em;
  border-left-color: var(--block-border-color);
  border-left-style: var(--block-border-style);
  border-left-width: 0.5em;
  border-radius: var(--block-border-radius);
  background-color: var(--block-background-color);
}

pre:has(> code:first-child):not(:has(svg)) {
  white-space: pre-wrap;
  background-color: var(--block-background-color);
  border: 0.1em solid var(--block-border-color);
  border-radius: var(--block-border-radius);
  padding: 0.5em;
}
code {
  font-family: "SF Mono", "Monaco", "Menlo", "Consolas", "Ubuntu Mono", "Liberation Mono", "DejaVu Sans Mono", "Courier New", monospace;
  font-size: 0.8em;
  overflow: auto;
  display: inline-block;
  tab-size: 2;
  background: none;
}

.reference-list {
  counter-reset: ref-counter;
  list-style: none;
  padding-left: 0;
  li {
    counter-increment: ref-counter;
    display: flex;
    margin-bottom: 0.5em;
  }
  li::before {
    content: "[" counter(ref-counter) "]";
    margin-right: 0.5em;
    flex-shrink: 0; 
    width: 2.5em;
    text-align: right;
  }
}
