reference>ul, references>ul, #reference+ul, #references+ul, .reference+ul, .references+ul, #參考文獻+ul,
reference>ol, references>ol, #reference+ol, #references+ol, .reference+ol, .references+ol, #參考文獻+ol {
  counter-reset: ref-counter;
  list-style: none;
  padding-left: 0;
  li {
    counter-increment: ref-counter;
    position: relative;
    padding-left: var(--li-padding-left);
  }
  li::before {
    content: "[" counter(ref-counter) "]";
    position: absolute;
    left: 0;
    top: 0;
    text-align: left;
  }
}