html {
  --main-font-family: 'Times New Roman', 'Symbol', 'Arial', '標楷體', 'BiauKai';
  --main-font-size: 12pt;
  --main-font-color: #000; 
  --main-line-height: 1.6;
  --main-padding-topbottom: 0em;
  --main-padding-leftright: 1em;
  --main-margin-topbottom: 0em;
  --main-margin-leftright: 1em;

  --ol-marker-width: 1.5em;
  --ul-marker-width: 1.5em;
  --li-padding-left: 2em;

  --code-font-family: "SF Mono", "Monaco", "Menlo", "Consolas", "Ubuntu Mono", "Liberation Mono", "DejaVu Sans Mono", "Courier New", monospace;
  --code-font-size: 0.8em;
  --code-tab-size: 1em;

  --block-border-style: solid;
  --block-border-radius: 0.25em;
  --block-border-color: #88888888;
  --block-background-color: #22222288;
  
  --table-border-width-thin: 1px;
  --table-border-width-bold: 2px;
  --table-border-style: solid;
  --table-border-color: #000;
  --table-background-color: #bbbbbb88;
}
.light, .vscode-light {
  --main-font-color: #000; 
  --block-border-color: #88888888;
  --block-background-color: #bbbbbb88;
  --table-background-color: #bbbbbb88;
  --table-border-color: #000;
}
.dark, .vscode-dark {
  --main-font-color: #fff; 
  --block-border-color: #88888888;
  --block-background-color: #22222288;
  --table-background-color: #22222288;
  --table-border-color: #fff;
}