.markdown-preview.markdown-preview.markdown-preview.markdown-preview.markdown-preview {
  left: 0;
  transform: translateX(0px);
  padding: 0em 1em;
}
.markdown-preview.markdown-preview {
  --main-font-family: 'Times New Roman', 'Arial', '標楷體', 'BiauKai';
  --main-font-size: 12pt;
  --main-font-color: #fff; 
  --li-padding-left: 2em;
  --ul-li-before-content: "•";
  --code-font-family: "SF Mono", "Monaco", "Menlo", "Consolas", "Ubuntu Mono", "Liberation Mono", "DejaVu Sans Mono", "Courier New", monospace;
  --code-font-size: 0.8em;
  --code-tab-size: 1em;
  --block-border-style: solid;
  --block-border-radius: 0.25em;
  --block-border-color: #88888888;
  --block-background-color: #22222288;
  --table-border-width-thin: 1px;
  --table-border-width-bold: 2px;
  --table-border-style: solid;
  --table-border-color: #fff;
  --table-background-color: #22222288;
  .light, .vscode-light {
    --main-font-color: #000; 
    --block-border-color: #88888888;
    --block-background-color: #cccccc88;
    --table-background-color: #cccccc88;
    --table-border-color: #000;
  }
  .dark, .vscode-dark {
    --main-font-color: #fff; 
    --block-border-color: #88888888;
    --block-background-color: #22222288;
    --table-background-color: #22222288;
    --table-border-color: #fff;
  }
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  color: var(--main-font-color);
  margin: 0em 1em;
  width: auto;
  height: auto;

  /* @media print {
    --main-font-color: #000; 
    --block-border-color: #88888888;
    --block-background-color: #cccccc88;
    --table-background-color: #cccccc88;
    --table-border-color: #000;
  } */
  
  /* &.prince {
    --main-font-color: #000; 
    --block-border-color: #88888888;
    --block-background-color: #cccccc88;
    --table-background-color: #cccccc88;
    --table-border-color: #000;
  } */
  
  /* .reveal .slides { } */
  
  /* .slides > section:nth-child(1) { } */
  
}

body[for="html-export"] > div.crossnote.markdown-preview {
  --main-font-color: #000; 
  --block-border-color: #88888888;
  --block-background-color: #cccccc88;
  --table-background-color: #cccccc88;
  --table-border-color: #000;

}

/* .md-sidebar-toc.md-sidebar-toc { } */
